DATABASE_URL=postgresql://localhost/project_red_crm_development
REDIS_URL=redis://127.0.0.1:6379/0
CRM_UI_ORIGIN=http://localhost:3001
PUBLIC_SITE_ORIGIN=http://localhost:3000
AWS_REGION=us-west-2
MEDIA_BUCKET=
MEDIA_CDN_URL=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
