/.bundle
/.env
/log/*
/tmp/*
/storage/*
/coverage
/vendor/bundle
/config/master.key

# Editor swap files, which appear whenever db/seeds.rb is open in Vim.
*.swp
*.swo

!/log/.keep
!/tmp/.keep
!/storage/.keep

# Local Redis snapshots, written by a redis-server started in this folder.
/dump.rdb
